	</div>
</div>


<script type="text/javascript">
	//var data =<%= menu %>

	// require(['lovevox_common'],function($){
	// 	//子孙树，从顶级往下找到是有的子子孙孙
	// 	function sonsTree(arr,id){
	// 	    var temp = [],lev=0;
	// 	    var forFn = function(arr, id,lev){
	// 	        for (var i = 0; i < arr.length; i++) {
	// 	            var item = arr[i];
	// 	            if (item.pId==id) {
	// 	                item.lev=lev;

	// 	                temp.push(item);
	// 	                forFn(arr,item.id,lev+1);
	// 	            }
	// 	        }
	// 	    };
	// 	    forFn(arr, id,lev);
	// 	    return temp;
	// 	}
	// 	var tree = sonsTree(data,"0");


	// 	console.log(tree);

	// });
</script>
</body>
</html>
