<!--@Sidebar-->
<div class="sidebar" id="sidebar">
	<div class="sidescroll">
		<ul class="sidenav">
			<li class="dropSec">
				<h2 class="sicon_operation sidehand"><span>网站管理</span></h2>
				<div class="sidelv dropBox">
					<div class="sideitem"><a href="/home" class="sideuri">控制面板</a></div>
					<div class="sideitem"><a href="/joblist" class="sideuri">招聘管理</a></div>
					<div class="sideitem"><a href="/contactlist" class="sideuri">访客反馈</a></div>
				</div>
			</li>

			<li class="dropSec">
				<h2 class="sicon_operator sidehand"><span>测试测试</span></h2>
				<div class="sidelv dropBox">
					<div class="sideitem"><a href="">招聘管理</a></div>
					<div class="sideitem">
						<a href="">访客反馈</a>
						<div class="sidelv2">
							<div class="sideitem"><a href="">招聘管理</a></div>
							<div class="sideitem"><a href="">访客反馈</a></div>
						</div>
					</div>
				</div>
			</li>

			<li class="dropSec">
				<h2 class="sicon_code sidehand"><span>在线咨询集群</span></h2>
				<div class="sidelv dropBox">
					<div class="sideitem"><a href="/chatroomlist" class="sideuri">在线咨询列表</a></div>
					<div class="sideitem"><a href="">访客反馈</a></div>
				</div>
			</li>
			<li class="dropSec">
				<h2 class="sicon_online sidehand"><span>测试测试</span></h2>
				<div class="sidelv dropBox">
					<div class="sideitem"><a href="">招聘管理</a></div>
					<div class="sideitem"><a href="">访客反馈</a></div>
				</div>
			</li>
			<li class="dropSec">
				<h2 class="sicon_data sidehand"><span>测试测试</span></h2>
				<div class="sidelv dropBox">
					<div class="sideitem"><a href="">招聘管理</a></div>
					<div class="sideitem"><a href="">访客反馈</a></div>
				</div>
			</li>
			<li class="dropSec">
				<h2 class="sicon_monitor sidehand"><span>测试测试</span></h2>
				<div class="sidelv dropBox">
					<div class="sideitem"><a href="">招聘管理</a></div>
					<div class="sideitem"><a href="">访客反馈</a></div>
				</div>
			</li>
		</ul>
	</div>
	<div class="sidebot dropSec">
		<div class="ticon_menu"></div>

		<div class="sidetools clear dropBox">
			<div class="sidetool ticon_about">
				<a href="">
					<span>关于系统</span>
				</a>
			</div>
			<div class="sidetool ticon_feedback">
				<a href="">
					<span>问题反馈</span>
				</a>
			</div>
			<div class="sidetool ticon_guid">
				<a href="">
					<span>功能向导</span>
				</a>
			</div>
		</div>
	</div>
</div>
<!--//Sidebar-->