	<script src="/js/require.js"></script>
	<script src="/js/config.js"></script>
	<script type="text/javascript">
		require(['lovevox_common']);
	</script>
	<div class="chatApp">
		<iframe src="/chatindex?lang=en&site=veeyoo&email=78866326@qq.com&user=vivi" frameborder="0" class="chatframe"></iframe>
	</div>
</body>
</html>