<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="renderer" content="webkit">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<!-- <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
	<link rel="apple-touch-icon" href="/favicon.png"> -->
	<meta content="telephone=no" name="format-detection">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta name="x5-fullscreen" content="true">
	<meta name="description" content="乐薇是一家制作和销售婚庆类消费品的公司，致力于提供婚礼和宴会的完整解决方案。旗下有乐薇制衣，乐薇工坊，乐薇科技和乐薇电子商务有限公司。"/>
	<meta name="keywords" content="武汉乐薇，乐薇，乐薇电子商务有限公司，武汉乐薇电子商务有限公司，乐薇婚礼，乐薇婚纱"/>
	<title>::<%= title %>::</title>
	<link rel="stylesheet" href="/css/styles.css" media="all">

</head>
<body>