<!DOCTYPE html>
<html class="ovhide">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="renderer" content="webkit">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
 	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
	<!--<link rel="apple-touch-icon" href="/favicon.png"> -->
	<meta content="telephone=no" name="format-detection">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta name="x5-fullscreen" content="true">
	<title><%= title %></title>
	<style>
	html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,sub,sup,tt,var,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;}
    body{font-smooth:always;scroll-behavior:smooth;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;text-rendering:optimizeLegibility;}
    h1{font-size:1.4em;margin:.67em 0}
    button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;line-height: 1.15;}
    button,input{line-height:normal;vertical-align:middle;}
    button,select{text-transform:none}
    button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}

    html{font-size:100%;}
	html,body{height:100%;margin: 0;padding: 0;}
	body{font: 13px/1.8  "微软正黑体", "新细明体" ,Arial,Helvetica, sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust: 100%;-webkit-overflow-scrolling:touch;-webkit-font-smoothing: antialiased;background:#fff;color:#92b0c3;
		will-change:scroll-position;background: #fcfdff;
	}

	.button{position:relative;display:inline-block;letter-spacing:1px;zoom:1;overflow: hidden;*width:auto;*display: inline;vertical-align:middle;outline:none;cursor:pointer;text-align:center;white-space: nowrap;outline: none; cursor: pointer;text-decoration:none;padding:0 40px;height:32px;border: 1px solid #95b2c4;border-radius: 20px}
	a.button{height:32px;color:#95b2c4;}
	a.button span{line-height: 30px;}

	h2{font-size: 1.4em;}
	.notfound{
		margin: 0 auto;text-align: center;padding-top: 50px;
		
	}
	.notfound img{max-width: 100%;}
	</style>
	
</head>
<body>
	<div class="notfound">
		<img src="images/404.jpg" alt=""/>
		<h2>It's a desert</h2>
		<p>Noting to see here</p>
		<h1>对不起，您访问的页面不存在。</h1>
		<a href="/" class="button"><span>返回首页</span></a>
	</div>	
</body>
</html>